* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.contenedor-header{
    padding: 16px;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin-bottom: 20px;
}

.contenedor-principal{
    display: flex;
    flex-wrap: wrap;
}

.contenedor-articulos{
    width: 70%;
    background-color: #f4f4f4;
    padding-right: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.img1{
    width: 100%;
    height: auto;
}

.titulo-articulo-grande{
    font-size: 50px;
}

.img2{
    width: 100%;
    height: auto;
}

.contenedor-articulo-pequeño{
    width: 50%;
    padding: 0px 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.titulo-articulo-pequeño{
    font-size: 30px;
}

.parrafo p{
    font-size: 30px;
}

.contenedor-aside{
    background-color: #26ff0b;
    width: 30%;
    padding: 0px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
}

.img-aside{
    width: 100%;
    height: auto;
    margin: 10px 10px;
}

.contenedor-formulario{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
}

.contenedor-formulario h1{
    text-align: center;
}

input[type=text]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 4px solid #79402b;
    border-radius: 7px;
    box-sizing: border-box;
    background-color: transparent;
}

input[type=email]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 4px solid #79402b;
    border-radius: 7px;
    box-sizing: border-box;
    background-color: transparent;
}

input[type=tel]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 4px solid #79402b;
    border-radius: 7px;
    box-sizing: border-box;
    background-color: transparent;
}

input[type=submit]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 4px solid #79402b;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: #79402b;
    color: white
}

@media screen and (min-width: 0px) and (max-width: 400px){
    .contenedor-aside{ display: none;}
    .contenedor-articulos { width: 100%;}
}